*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    
}

a{
    color: hwb(203 0% 97%);
}

body{
    font-family: "open sans";
}
h1{
    color: aliceblue;
}

.titulo{
    color: #4c2a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


header{
    width: 100%;
    height: 600 px;
    background-image: linear-gradient(to top, #a18cd14d 0%, rgba(251, 194, 235, 0.301)), url(../Imagenes/Portadaucsp.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:rgb(255, 255, 255);
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
 
nav > a:hover{   
    text-decoration: underline;
}

.Wave{
    position: relative;
    bottom: 0;
    width: 100%;
    
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
    background-color: #e6eef0;
}

.contenido-textos h3 span{
    background-color: #379c4d;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0  6px 0 rgba(0, 0, 0, .5) ;
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}



/*Galeria*/

.portafolio {
    background-color: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}


.hover-galeria  {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%,0.7);
    transition: tranform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color:#fff;  
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}


/*Parte3*/

.responder{
    display: flex;
    justify-content: space-evenly;
    
}

.ima{
    width: 50%;
    height: 500px;
    position:relatives ;
}



.texto h3 span{
    background-color: #379c4d;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0  6px 0 rgba(0, 0, 0, .5) ;
    margin-right: 5px;
}

.texto p{
    padding: 10px 50px 20px;
    font-weight: 300;
    text-align: justify;
}

h3{
    padding: 10px 50px 20px;
}

.p1 .texto{
    width: 48%;
    background-color: #e6eef0;
}

.p1{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
