*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
}
h1{ font-size: 40px; }
h2{ font-size: 30px;}
h3{ font-size: 20px;}
p{ font-size: 15px;}

.boton{
    font-size: 20px;
}